

.header {
    background: #fff;
    -webkit-box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
    box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
    padding: 10px;
}

.loogo {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ff8b00;
}
.page-title {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}